{% extends 'store/template.html' %}
{% load static %}
{% block content %}
    <div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>Register Form</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-bottom: 20px; margin-top: 20px;" class="container">
    {% if messages %}
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
    {% endif %}
    <form method="post" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" />
    </form>
    <button class="btn btn-outline-success" style="margin-top: 50px"><a href="{% url 'store' %}">Back to Store</a></button>
    </div>
{% endblock content %}