{% extends 'store/template.html' %}
{% load static %}
{% block content %}
    <h1 style="margin-left: 700px">Cameras</h1>
    <p style="text-align: center"><strong>Sort by:</strong></p>
        <div class="dropdown" style="text-align: center; padding-bottom: 20px">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Default
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="?sort=l2h">Price: low to high</a>
                <a class="dropdown-item" href="?sort=h2l">Price: high to low</a>
                <a class="dropdown-item" href="#"></a>
                <a class="dropdown-item" href="#"></a>
            </div>
        </div>
    <div class="single-product-area">
        <div class="container">
     <div class="row">
            {% for product in products %}
                <div class="col-md-3 col-sm-6">
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <img style="width: 180px;  height: 180px;" src="{{product.imageURL}}" alt="">
                        </div>
                        <h2><a href="">{{ product.name }}</a></h2>
                        <div class="product-carousel-price">
                            <ins>${{ product.price }}</ins>
                        </div>

                        <div class="product-option-shop">
                            <a data-product={{ product.id }} data-action="add" class="add_to_cart_button update-basket" >Add to cart</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
    </div></div></div>
{% endblock content %}