{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    tovar
    <div class="row" style="justify-content: center; display: flex">
        {% for product in products %}
{#         <div class="col-lg-3" style="border: darkslategray 2px solid; margin-left: 50px; margin-bottom: 20px">#}
            <div style="justify-content: center; display: flex">
                <img style="text-align: center" class="thumbnail" src="{{product.imageURL}}">
            </div>
            <div class="box-element product">
                <h6 style="text-align: center">
                    <a href="products/{{ product.id }}">
                    <button id="qv{{ product.id }}" class="btn btn-primary">
                        {{ product.name }}
                    </button>
                    </a>
                </h6>
                <hr>
                <h4 style="display: inline-block; "><strong>$ {{ product.price|floatformat:2 }}</strong></h4>
                <button data-product={{ product.id }} data-action="add" class="btn btn-outline-secondary add-btn update-basket" style="background-color: rgb(255,78,91); float: right; font-size: 14px; color: antiquewhite"> Add to basket</button>
{#                <a class="btn btn-outline-success" href="">View</a>#}
            </div>
{#        </div>#}
        {% endfor %}
    </div>
{#         <div class="col-lg-3" style="border: darkslategray 2px solid; margin-left: 50px; margin-bottom: 20px">#}
{#            <div style="justify-content: center; display: flex">#}
{#                <img style="text-align: center" class="thumbnail" src="{{product.imageURL}}">#}
{#            </div>#}
{#            <div class="box-element product">#}
{#                <hr>#}
{#                <h4 style="display: inline-block; "><strong>$ {{ product.price|floatformat:2 }}</strong></h4>#}
{#                <button data-product={{ product.id }} data-action="add" class="btn btn-outline-secondary add-btn update-basket" style="background-color: rgb(255,78,91); float: right"><img src="images/shcar.png" style="" height="32px"></button>#}
{#                <a class="btn btn-outline-success" href="">View</a>#}
{#            </div>#}
{##}
{#        </div>#}
{% endblock content %}